<!-- top navigation bar -->
<nav>
  <div id = "boxes">
     <div id = "leftbox">
      <br>

      <h1 class="top">Admin Panel</h1>
    </div>

    <div id = "middlebox">

    </div>

    <div id = "rightbox">
      <br>
      <button class="btn" (click)="openDialog()">Add Product</button>
    </div>
  </div>
</nav>


  <!-- display all products -->

  <div class="products" >
    <!-- <h1>All Products</h1> -->
    <div class="product" >
      <mat-card *ngFor="let dt of result | paginate: { itemsPerPage: 4, currentPage: p }">
       <img src="{{dt.image}}" class="product-img" />
        <p><strong>Title :</strong> <strong>{{dt.title}}</strong></p>
        <p><strong>Description :</strong> {{dt.description}}</p>
        <p class="money"><strong>Price :</strong> <strong>{{dt.price | currency:'INR'}}</strong></p>
        <p><strong> Quantity : </strong>{{dt.quantity}}</p>
        <p> <strong>Short Description :</strong> {{dt.shortDesc}}</p>
        <p><strong> Category_id :</strong> {{dt.categorie_id}}</p>
        <p><strong> Category : </strong>{{dt.category}}</p>
        <p><strong> Tags :</strong> {{dt.tags}}</p>

        <button type="button" class="editbtn" routerLink="/admin-panel/{{dt.productId}}" (click)="editProduct(dt);updateProduct(dt)">Edit</button>
        <button type="button" class="deletebtn" (click)="deleteProduct(dt.productId)">Delete</button>
      </mat-card>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

